/*--compra tequila--*/
.compras{position:absolute; margin-top:15%; width:100%;}
.compra-tequila{width:250px; display: inline-block; vertical-align: top; margin:0 0 0 5%;
	.tequila-img{display: block; margin:0 auto; width:35px;}
	form{border-top:1px solid #000; padding:10px 0 0 0; margin-top:10px; 
		p{clear: both; font-size: 0.7em; padding-top:10px; font-family:$default-font-stack;
		input[type="text"]{width:50px; display: inline-block; margin:0 13px;}
			.circle{background-color:#000; color:$primary-color; border-radius: 50%; padding:5px 8px; display: inline-block; vertical-align: middle; text-align:center; cursor: pointer;}
		}
	}
}
.tequila-desc{float:left;}
.tequila-precio{float:right;}

.botones-compra{
	width:410px; margin:50px auto 0 auto;
	a{text-decoration: none; display: inline-block; vertical-align: middle; color:$primary-color; background-color:$text-brown; text-align: center; padding:5px 10px; text-transform: uppercase; font-size: .9em; width: 180px;}
	a:last-of-type{float:right;}
	}
	
.compras-sol-der{position:absolute; margin-top:25%; right:-30%;}
.compras-sol-iz{position:absolute; margin-top:10%; left:-30%;}

/*--carrito--*/
.carrito{
		width:550px; margin:0 auto;
	h4{border-bottom:1px solid $text-brown; clear:both;}
	p{font-size: .9em;}
	.compra-cant, .compra-precio, .compra-total{text-align: right;}
	 div{display: inline-block; vertical-align: top; width:24%;
	 	h5{margin:10px 0;} 
		span{display:block; padding:10px 0; font-size: .8em;
			input[type="text"]{border:none; width:50px; text-align: right;}
		}
	}
}
.subtotal{float:right; text-align: right;}

.comp-btn-cont{clear: right; text-align: right;}
.actualizar{background-color:#7d776f; color:#fff; text-decoration: none; display: inline-block; text-align: center; padding:5px 10px;  margin:20px 0 0  20px; }
.sig-paso{background-color:#50473d; color:#fff; text-decoration: none; display: inline-block; text-align: center; padding:5px 10px;  margin:20px 0 0  20px;}

/*--datos de facturacion--*/
.datos-envio-fact{
	h4{border-bottom:1px solid $text-brown; margin:10px 0;}
	.datos-left{width:40%; float:left;
		p{ margin:5px 0; font-size: .8em;
			label{float:left;}
			input[type="text"]{float:right; width:60%;}
		}
	}
	.datos-right{width:40%; float:right;
		p{ margin:5px 0; font-size: .8em;
			label{float:left;}
			input[type="text"]{float:right; width:60%;}
		}
	}
}

.pagar{background-color:#50473d; color:#fff; text-decoration: none; display: inline-block; text-align: center; padding:5px 10px;  margin:20px 0 0  20px; width:22%;}