/*--header and nav--*/
header{
	position:fixed; 
	background-color: transparent;	
	color: $primary-color;
	width:100%;
	z-index: 100;
		nav{
				width:980px;
				background-color: $primary-color;
				margin:0 auto;
				text-align: center;
				border:1px solid #fff;
				@include border-radius( 0 0 10px 10px);
				.arrow-down{position:absolute;}
			ul{
				list-style-type: none;
				margin:0px; 
				padding:10px 0px 10px 0px;
					li.active{
						a{color:#ccc;}
					}
				
					li{
					display: inline-block; vertical-align: middle;
					margin:0 7px;
						a{
							display: block;
							text-decoration: none;
							color:#000;
							text-transform: uppercase;
							font-family: $menu-font-stack;
							font-size: 17px;
							font-weight: 600;
							@include color-transition(color .5s ease-out );
						}
						a:hover{color:#ccc; @include color-transition(color .5s ease-out );}
					}	
				}
		}	
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;	
	border-top: 15px solid $primary-color;
}

.logo{
	position: absolute;
	display: block;
	left: 44.5%;
	margin-top: 12px;
	z-index:0;
}