.noticias-cont{padding-top:175px; width:729px; margin:0 auto;}

.noticia-res{border-bottom:1px solid #4f473d;  padding-bottom: 10px;
	h2{border-bottom:1px solid #4f473d; font-family: $novecento-demi; font-weight: normal;}
	img{display:block; margin:0 auto}
	
	.excerpt{border-top:1px solid #4f473d; margin-top: 25px; padding-top: 20px;
		.fecha{display: block;}
		p{width:550px; float:left; font-family: $default-font-stack;}
		.vermas{text-decoration: none; float:right; margin-top:40px; color:#1e1c19; font-size: .8em; font-weight:bold;}
	}
	
}

.paginacion{width:729px; margin:0 auto ;margin-top:35px; margin-bottom:25px;
	a{text-decoration: none; padding:10px 0;}
	.sig{float:right; color:#50473d;}
	.ant{float:left; color:#50473d;}
	.regresar{width:150px; margin:0 0 0 30%; display: inline-block; background-color:#50473d; text-align: center; color:#fff; }
}