/*--page backgrounds--*/
.section{background-size:cover; background-repeat:no-repeat; overflow: hidden; z-index: 1;}

.inner{width:980px; margin:0 auto; position:relative;}

.home{background-image: url(../img/section-bgs/home-bg.jpg);} 

.prod {background-image: url(../img/section-bgs/productos-bg.jpg);}

.origen{background-image: url(../img/section-bgs/origen-bg.jpg);}

.creencias{background-image: url(../img/section-bgs/creencias-bg.jpg);}

.puntos{background-image: url(../img/section-bgs/puntos-bg.jpg);}

.compra{background-image: url(../img/section-bgs/compra-bg.jpg);}

.contacto{background-image: url(../img/section-bgs/contacto-bg.jpg);}
