/*--home parallax images--*/

.img-1{
		display: block; 
		position:absolute;
		margin-top:10%;
		left:26%;
		}
	
.small-flowers-1{
		display: block; 
		position:absolute;
		margin-top:15%;
		left:30%;
}

.dandelion{
	display: block; 
	position:absolute;
	margin-top:35%;
	left:-25%;
	right:0%;
}

.dandelion-right{
	display: block; 
	position:absolute;
	margin-top:42%;
	left:70%;
	right:0%;
}

.sun-bottom{
	display: block; 
	position:absolute;
	margin-top:55%;
	left:75%;
	right:0%;
}