/*--home parallax images--*/

.img-1{
		display: block; 
		position:absolute;
		margin-top:10%;
		left:14%;
		}
	
.small-flowers-1{
		display: block; 
		position:absolute;
		margin-top:15%;
		left:35%;
}

.dandelion{
	display: block; 
	position:absolute;
	margin-top:35%;
	left:-19%;
	right:0%;
}

.dandelion-right{
	display: block; 
	position:absolute;
	margin-top:42%;
	left:90%;
	right:0%;
}

.sun-bottom{
	display: block; 
	position:absolute;
	margin-top:65%;
	left:75%;
	right:0%;
}


.home-section-content{
	display: block; 
	position:absolute;
	margin-top:13%;
	left:48%;
	right:0%;
	width:425px;
	text-align: center;
}

.home-header{display: block; margin: 0 auto; margin-bottom: 10px}

.home-section-content-inner{border-top:1px solid #383129; border-bottom:1px solid #383129; padding:10px 0;
	h1{
		margin:0;
		font-size: 1em;
	}
}